<!--
  **NOTE:** This is a template for index.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>

    <!-- END TRACKJS -->
    <% } %>
      <meta charset="UTF-8">

      <script>
        function userAction(resourcePath) {
          if (window.location.host.includes("localhost")) {
            console.log('in');
            environmentUrl = "http://localhost:5005"
          }
          else {
            environmentUrl = 'http://rpi3:5005'
          }

          var xobj = new XMLHttpRequest();
          // true parameter denotes asynchronous
          xobj.open('GET', environmentUrl + "/" + resourcePath, true);
          xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
              // This marks that the response has been successfully retrieved from the server
              // Utilize callback
              callback(xobj.responseText);
            }
          };
          xobj.send(null);
        }

        function sayIt(environmentUrl) {
          var sayWhat = document.getElementById('sayItInputTbProd').value;
          resourceString = 'sayall' + '/' + sayWhat;
          userAction(resourceString)
        }
      </script>
</head>

<body>
  <div>
    <h1>Music Presets</h1>
  </div>
  <button hidden="true" type="button">TV Room</button>
  </br>
  <button id="currentlyLearningBtn" type="submit" onclick="userAction('preset/currentlylearning')">Currently Learning</button>
  </br>
  <button id="noiseTherapyBtn" type="submit" onclick="userAction('preset/bedroom-noisetherapy')">bedroom-noisetherapy</button>
  </br>
  <button id="deepFocusBtn" type="submit" onclick="userAction('preset/deepfocus')">deepfocus</button>
  </br>
  <button id="tronlegacyBtn" type="submit" onclick="userAction('preset/tronlegacy')">tronlegacy</button>
  </br>
  <button id="beatsBtn" type="submit" onclick="userAction('preset/beats')">beats</button>
  </br>

  <div>
    <h1>Input / Output Sources</h1>
  </div>
  <button id="officeOutputBtn" type="submit" onclick="userAction('preset/office-output')">office-output</button>
  </br>
  <button id="officeOnlyOutputBtn" type="submit" onclick="userAction('preset/office-only-output')">office-only-output</button>
  </br>
  <button id="tvroomOutputBtn" type="submit" onclick="userAction('preset/tvroom-output')">tvroom-output</button>
  </br>
  <button id="tvroomOnlyOutputBtn" type="submit" onclick="userAction('preset/tvroom-only-output')">tvroom-only-output</button>
  </br>

  <div>
    <h1>Say It!</h1>
  </div>
  <input id="sayItInputTbProd" type="text">
  <button id="sayItBtnDev" type="submit" onclick="sayIt('http://localhost:5005')">Say it!</button>
</body>
<!-- <script type="text/javascript" src="index.js"></script> -->

</html>