<!DOCTYPE html>
<html lang="en">

<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>

    <!-- END TRACKJS -->
    <% } %>
      <meta charset="UTF-8">
      <script type="text/javascript" src="index.js"></script>
      <script>
        function requestResource(resourcePath) {
          if (window.location.host.includes("localhost")) {
            console.log('in');
            environmentUrl = "http://localhost:5005"
          }
          else {
            environmentUrl = 'http://rpi3:5005'
          }

          var xobj = new XMLHttpRequest();
          // true parameter denotes asynchronous
          xobj.open('GET', environmentUrl + "/" + resourcePath, true);
          xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
              // This marks that the response has been successfully retrieved from the server
              // Utilize callback
              callback(xobj.responseText);
            }
          };
          xobj.send(null);
        }

        function sayIt(environmentUrl) {
          var sayWhat = document.getElementById('sayItInputTbProd').value;
          resourceString = 'sayall' + '/' + sayWhat;
          requestResource(resourceString)
        }
      </script>
</head>

<body>
  <div>
    <h1>Music Presets</h1>
  </div>
  <button hidden="true" type="button">TV Room</button>
  </br>
  <button id="currentlyLearningBtn" type="submit" onclick="requestResource('preset/currentlylearning')">Currently Learning</button>
  </br>
  <button id="noiseTherapyBtn" type="submit" onclick="requestResource('preset/bedroom-only-noisetherapy')">bedroom-noisetherapy</button>
  </br>
  <button id="sleepBtn" type="submit" onclick="requestResource('preset/bedroom-only-sleep')">bedroom-only-sleep</button>
  </br>
  <button id="deepFocusBtn" type="submit" onclick="requestResource('preset/deepfocus')">deepfocus</button>
  </br>
  <button id="tronlegacyBtn" type="submit" onclick="requestResource('preset/tronlegacy')">tronlegacy</button>
  </br>
  <button id="beatsBtn" type="submit" onclick="requestResource('preset/beats')">beats</button>
  </br>
  <button id="fooFighersBtn" type="submit" onclick="requestResource('preset/foo-fighters')">foo-fighers</button>
  </br>
  <button id="tonalRecallSetListBtn" type="submit" onclick="requestResource('preset/tonal-recall-set-list')">Tonal Recall Set List</button>
  </br>
  <button id="duranDuranBtn" type="submit" onclick="requestResource('preset/duran-duran')">Duran Duran</button>
  </br>
  <button id="flowBtn" type="submit" onclick="requestResource('preset/flow')">Flow</button>
  </br>
  <button id="dotNetRocksBtn" type="submit" onclick="requestResource('preset/dotnetrocks')">Dot Net Rocks</button>
  </br>


  <div>
    <h1>Input / Output Sources</h1>
  </div>
  <button id="officeOutputBtn" type="submit" onclick="requestResource('preset/office-output')">office-output</button>
  </br>
  <button id="officeOnlyOutputBtn" type="submit" onclick="requestResource('preset/office-only-output')">office-only-output</button>
  </br>
  <button id="tvroomOutputBtn" type="submit" onclick="requestResource('preset/tvroom-output')">tvroom-output</button>
  </br>
  <button id="tvroomOnlyOutputBtn" type="submit" onclick="requestResource('preset/tvroom-only-output')">tvroom-only-output</button>
  </br>

  <div>
    <h1>Say It!</h1>
  </div>
  <input id="sayItInputTbProd" type="text">
  <button id="sayItBtnDev" type="submit" onclick="sayIt('http://localhost:5005')">Say it!</button>
</body>
</html>